@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.form-container {
  width: 1000px;
}
.title,
.slogan {
  text-align: center;
}
.btn {
  width: 100%;
}
.auth-image {
  width: 100%;
  border-radius: 8px;
}
.alert {
  margin-bottom: 1.5rem;
}
.profile-card {
  width: 500px;
}
.avatar {
  margin-bottom: 1.5rem;
}
.username {
  text-transform: capitalize;
}
.profile-btn {
  margin-top: 1.3rem;
  width: 100%;
}

html,
body {
  padding-top: 100px;
  padding: 0;
  height: 100%;
  overflow: auto;
}

body {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  background-image: linear-gradient(#c7e2ff, #c7e2ff);
}

.titlePdf {
  text-align: center;
  color: #ffa500;
  font-size: 75px;
  margin-bottom: 10px;
}

.AppPdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1535px;
  background-color: #c7e2ff;
}

.uploaded-files-list {
  margin-top: 75px;
  font-size: 20px;
  text-align: center;
  max-height: 200px;
  overflow-y: auto;
}

.btn-primaryPdf {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 7px;
  display: inline-block;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 100px;
}

.btn-primaryPdf:hover {
  background-color: #0056b3;
}

.upload-container {
  display: flex;
  align-items: center;
  gap: 300px;
}
.form-control {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 10px;
  width: auto;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: no-color;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #b8d7f9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(192, 223, 255, 0.25);
}

a {
  text-decoration: none;
}

.pdf-container {
  height: 750px;
  width: 750px;
  overflow-x: hidden;
  margin-top: 20px;
}

.btnView {
  width: 170px;
  height: 60px;
  font-size: 20px;
  margin-top: 90px;
  margin-left: 20px;
  color: #ffffff;
  background-color: #09753b;
  border-color: #09753b;
  border-radius: 1.2rem;
  float: right;
}

.container {
  width: 100%;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileItem {
  margin-bottom: 20px;
  cursor: pointer;
  color: rgb(9, 9, 139);
}
.fileNameBtn {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}
.formRow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fileNameBtn:hover {
  font-size: 25px;
}
.file-upload-container {
  text-align: center;
}

.upload-heading {
  font-size: 36px;
  color: #007bff;
  margin-bottom: 30px;
}

.file-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #0056b3;
}
